@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

/* ======= LIGHT THEME (Default) ======== */

:root{
  /* Brand Colors */
  --primary: #7c5dfa;
  --primary-hover: #9277ff;
  --danger: #ec5757;
  --danger-hover: #ff9797;

  /* Backgrounds */
  --bg-body: #f8f8fb;
  --bg-card: #ffffff;
  --bg-sidebar: #373b53;

  /* Borders and UI elements */
  --border-color: #dfe3fa;
  --input-bg: #ffffff;
  --input-border: #dfe3fa;

  /* Typography */
  --font-main: 'League Spartan', sans-serif;
}

/* ======DARK THEME===== */
/* When the 'data-theme="dark"' attribute is added to the <body> or <html>,
these variables override the defaults */
[data-theme='dark']{
  --bg-body: #141625;
  --bg-card: #1e2139;
  --bg-sidebar: #1e2139;

  --text-primary: #ffffff;
  --text-secondary: #dfe3fa;

  --border-color: #252945;
  --input-bg: #1e2139;
  --input-border: #252945;

}

/*==========GLOBAL RESET & BASE STYLES========= */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: var(--font-main);
  background-color: var(--bg-body);
  color: var(--text-primary);
  /* Smooth transition when toggling themes */
  transition: background-color 0.3s ease, color 0.3 ease;
  min-height: 100vh;
}

button{
  font-family: var(--font-main);
  border: none;
  cursor: pointer;
  background: none;
  outline: none;
}